<div class="container">
  <div class="row">
    <div class="content-mini  profile-component col-md-4 well-custom shadow-effect-1 shadow-effect-null fg-primary-text overflow-h">
      <div class="block block-mini" [routerLink]="['/profile']">
        <i class="fa fa-user fg-acent-color icon-mini profile-component"></i>
        <div class="title-mini profile-data">
          <h2> {{user.firstname}} {{user.lastName}}  </h2>
          <span class="block"> {{user.email}}</span>
          <span class="block"> {{user.phone}}</span>
          <span class="block"> {{user.address}}</span>
        </div>
      </div>
      <div *ngIf='user.agencyInUseId'>
        <span class="pull-left description-mini profile-component">You are currently using <b class="cursor" [routerLink]="['agency/:id', user.agencyInUseId._id]">{{user.agencyInUseId.nameAgency}}</b> agency 
             <span class="hidden-md">for send money to your families</span>
        <small class="cursor" [routerLink]="['/agency']"><i>view more</i></small>
        </span>
      </div>
      <div *ngIf='!user.agencyInUseId'>
        <span class="pull-left description-mini">You currently have not selected any agency
          <small class="cursor" [routerLink]="['/agency']"><i>view more</i></small>
        </span>
      </div>
      <div class="row">
        <div class="col-md-12 btn-actions">
          <div class="btn btn-default btn-md btn-1" [routerLink]="['/relative/new']">Add a family member</div>
          <div class="btn btn-primary btn-md btn-2" [routerLink]="['/profile/edit']">Edit your profile</div>
        </div>
      </div>
     
    </div>
  </div>
</div>
