<div class="container">
  <div class="row">
    <div class="content-mini col-md-4 well-custom shadow-effect-1 shadow-effect-null fg-primary-text overflow-h">
      <div class="block block-mini" [routerLink]="['/profile']">
        <i class="fa fa-user fg-acent-color icon-mini"></i>
        <div class="title-mini">
          <h3> {{user.firstname}} {{user.lastName}} </h3>
          <p> {{user.email}}</p>
          <p> {{user.phone}}</p>
          <p> {{user.address}}</p>
        </div>
      </div>
      <div *ngIf='user.agencyInUseId'>
        <span class="pull-left description-mini">You are currently using <b class="cursor" [routerLink]="['agency/:id', user.agencyInUseId._id]">{{user.agencyInUseId.nameAgency}}</b> agency 
             <span class="hidden-md">for send money to your families</span>
        <small class="cursor" [routerLink]="['/agency']"><i>view more</i></small>
        </span>
      </div>
      <div *ngIf='!user.agencyInUseId'>
        <span class="pull-left description-mini">You currently have not selected any agency
          <small class="cursor" [routerLink]="['/agency']"><i>view more</i></small>
        </span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn btn-default btn-md" [routerLink]="['/relative/new']">Add a family member</div>
          <div class="btn btn-primary btn-md" [routerLink]="['/profile/edit']">Edit your profile</div>
        </div>
      </div>
     
    </div>
  </div>
</div>
