	<!-- Loader -->
	<!--<div class="fh5co-loader"></div>-->
	
	
		<!--Header-->
        <header id="header" role="banner">
            <app-navigation></app-navigation>
        </header>

        <!--Content-->
         <section id="services" style="margin-top:7em">
            <div class="container">
                <div class="box first">
                    <router-outlet></router-outlet>
                </div>
            </div>
         </section>
          

        <!--Footer-->
        <footer id="footer">
            <app-footer></app-footer>
        </footer><!--/#footer-->
	
	<!-- END #fh5co-page -->
    