<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Send money is easy</h1>
                    <p class="lead">In a few clicks your relatives will receive the money.</p>
                </div>
            </div>
        </div>
        <!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Do not wait more</h1>
                    <p class="lead"><b>Easy</b>, <b>safe</b> and <b>very fast</b>. From your cell phone send money right now.</p>
                </div>
            </div>
        </div>
        <!--/.item-->
    </div>
    <!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
</section>
<!--/#main-slider-->

<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">


                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="fa fa-users icon-lg icon-color4"></i>
                        <h2>Send now</h2>
                        <p>Tracking your transfer has never been easier. Stay current with text updates, email notifications, online access from your PC or phone or call our friendly support staff 24/7.</p>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="fa fa-send-o icon-lg icon-color4"></i>
                        <h2>Be fast</h2>
                        <p>All you need is your loved one's email address. They can quickly fulfill your request online or through KinPay's mobile app. If they don't have a KinPay account, they can create one easily.</p>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="fa fa-vcard icon-lg icon-color3"></i>
                        <h2>Easy connect</h2>
                        <p>Recommend Xoom to a friend. If their first transfer is $200 or more (transaction fee excluded), you’ll both get a $20 Amazon eGift card.</p>
                    </div>
                </div>
                <!--/.col-md-4-->
            </div>
            <!--/.row-->
          
        </div>
    </div>
</section>

    <section id="pricing">
        <div class="container">
            <div class="box" style="padding-top:1em;padding-bottom:1em">
                <div id="pricing-table" class="row" style="background: rgba(0, 0, 0, 0.74);">
                    <div class="col-sm-12 "style="padding: 0.5em;">
                        <div class="col-md-4 col-sm-6">
                                            <div class="center">
                                                <i class="fa fa-address-book icon-lg" style="background:none"></i>
                                                <h4>Quickly choose which family member you want to send the money to</h4>
                                            </div>
                                        </div>
                        <div class="col-md-4 col-sm-6">
                                            <div class="center">
                                                <i class="fa fa-shield icon-lg" style="background:none"></i>
                                                <h4>Your transactions made by totally secure channels</h4>
                                            </div>
                                        </div>
                                                                <div class="col-md-4 col-sm-6">
                                            <div class="center">
                                                <i class="fa fa-bell icon-lg" style="background:none"></i>
                                                <h4>Tracking your transfer has never been easier</h4>
                                            </div>
                                        </div>
                    </div><!--/.col-sm-4-->
                    
                </div> 
            </div> 
        </div>
    </section><!--/#pricing-->