                <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Send money is easy</h1>
                        <p class="lead">In few clicks your relative will receive the money.</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Do not wait more</h1>
                        <p class="lead"><b>Easy</b>, <b>safe</b> and <b>very fast</b>. From your cell phone send the money right now.</p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </section><!--/#main-slider-->
                
                <section id="services">
            <div class="container">
                <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-send-o icon-lg icon-color4"></i>
                            <h4>Send now</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-android icon-lg icon-color2"></i>
                            <h4>Be fast</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="fa fa-windows icon-lg icon-color3"></i>
                            <h4>Lorens insu</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
</div>
            </div>
         </section>