<div class="container">  
    <div class="row" >
        <div class="relative-list-content content-mini col-md-4 well-custom shadow-effect-1 shadow-effect-null fg-primary-text overflow-h">
          <div class="row">
            <div class="block block-mini">
              <i class="fa fa-users fg-acent-color icon-mini"></i>
              <div>
                <h2 class="sm-relative-title">Relatives</h2>
              </div>
            </div>
          </div>
          <div *ngIf='!relatives'>
            <h3>You still dont have any relative added</h3>
            <button [routerLink]="['/relative/new']" class="btn btn-default btn-lg add-relative-sm">Add a relative</button>

          </div>
           <div *ngIf='relatives'> 
             <div>

             <button [routerLink]="['/relative/new']" class="btn btn-default btn-lg add-relative-sm"> Add new relative</button>
             </div>
             <!-- <button [routerLink]="['/relative/new']" class="btn btn-default btn-lg add-relative-sm"> Add a relative</button> -->
              <div class="row list-agencies-content">
                    <div class="col-md-12" *ngFor="let relative of relatives">
                      <h3 (click)="onSelect(relative)" class="cursor btn-right-content-agency" >
                        {{relative.name}}
                      </h3>
                    </div>
              </div>
            </div>
        </div>
        <div class="col-md-8 content-agency-right">
          <app-relative [relativeToDetails]="selectedRelative"></app-relative>
        </div>
  </div>
</div>

   



<!-- <div class="row">
  <div class="col-lg-10 col-md-6 col-xs-6">
    <h1 class="page-header">Relatives</h1>
  </div>
</div>

<div class='row'>
  <div class="col-md-6">
    <div class="panel-group">
      <div *ngIf='!relatives'>
        <h3>You still dont have any relative added</h3>
        <button [routerLink]="['/relative/new']" > Add a relative</button>

      </div>
      
      <div *ngIf='relatives'> 
        <button [routerLink]="['/relative/new']" > Add a relative</button>
        <div class="panel panel-default" *ngFor="let relative of relatives">
          <a  (click)="onSelect(relative)">
            <div class="panel-heading">
              <h4 class="panel-title">
                {{relative.name}}
              </h4>
            </div>
          </a>
      </div>
    </div>

    </div> 
   </div>
<div>
        <div class="panel-body"><app-relative [relativeToDetails]="selectedRelative"></app-relative></div>
  </div>
</div> -->
<!-- <div *ngIf='user'>
 <a [routerLink]="['/payment']">Next</a>
</div> -->