<div class="row">
  <div class="col-lg-10 col-md-6 col-xs-6">
    <h1 class="page-header">Relatives</h1>
  </div>
</div>

<div class='row'>
  <div class="col-md-6">
    <div class="panel-group">
      <div *ngIf='!relatives'>
        <h3>You still dont have any relative added</h3>
        <button [routerLink]="['/relative/new']" > Add a relative</button>

      </div>
      
      <div *ngIf='relatives'> 
        <button [routerLink]="['/relative/new']" > Add a relative</button>
        <div class="panel panel-default" *ngFor="let relative of relatives">
          <a  (click)="onSelect(relative)">
            <div class="panel-heading">
              <h4 class="panel-title">
                {{relative.name}}
              </h4>
            </div>
          </a>
      </div>
    </div>

    </div> 
   </div>
<div>
        <div class="panel-body"><app-relative [relativeToDetails]="selectedRelative"></app-relative></div>
  </div>
</div>
<!-- <div *ngIf='user'>
 <a [routerLink]="['/payment']">Next</a>
</div> -->