
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light c-nav-banner">
        <a class="navbar-brand appBrand" [routerLink]="['/portal']"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li *ngIf='!userLogged' class="nav-item c-nav-banner-list" data-toggle="collapse" data-target="#myNavbar" >
              <a class="nav-link " [routerLink]="['/login']" >Log In</a>
            </li>
            <li *ngIf='!userLogged' class="nav-item c-nav-banner-list" data-toggle="collapse" data-target="#myNavbar">
              <a class="nav-link" [routerLink]="['/signup']" >Sign Up</a>
            </li>
            <li *ngIf='userLogged' class="nav-item c-nav-banner-list" data-toggle="collapse" data-target="#myNavbar">
              <a class="nav-link" (click)='logMeOut()'>Log Out</a>
            </li>
            <li *ngIf='userLogged' class="nav-item d-lg-none" data-toggle="collapse" data-target="#myNavbar"> 
              <a class="nav-link" [routerLink]="['/agency']">Account</a>
            </li>
            <li *ngIf='userLogged' class="nav-item d-lg-none" data-toggle="collapse" data-target="#myNavbar">
              <a class="nav-link " [routerLink]="['/agency']">Send Money</a>
            </li>
            <li *ngIf='userLogged' class="nav-item d-lg-none" data-toggle="collapse" data-target="#myNavbar">
              <a class="nav-link " [routerLink]="['/profile']">Profile</a>
            </li>
            <li *ngIf='userLogged' class="nav-item d-lg-none" data-toggle="collapse" data-target="#myNavbar">
              <a class="nav-link " [routerLink]="['/relatives']">My Family</a>
            </li>
            <li class="nav-item c-nav-banner-list" data-toggle="collapse" data-target="#myNavbar">
              <a class="nav-link" [routerLink]="['/agency']">Agencies</a>
            </li>
          </ul>
        </div>
</nav>
  
<div *ngIf='userLogged' class="row">   
    <div class="nav-side-menu col-md-2">
      <div class=" menu-list">    
              <ul id="menu-content" class="menu-content collapse out">
                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                    <a >
                    <i class=""></i> Account <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a>Latest transaction</a></li>
                    <li><a>Transaction history</a></li>
                    <li><a>Account settings</a></li>
                </ul>
                <li [routerLink]="['/payment']">
                    <a>
                    <i class=""></i> Send Money
                    </a>
                </li>
                <li [routerLink]="['/profile']">
                    <a>
                    <i class=""></i> Profile
                    </a>
                </li>
                <li [routerLink]="['/relatives']">
                    <a>
                    <i class=""></i> My Family
                    </a>
                </li>
                <li [routerLink]="['/agency']">
                    <a >
                    <i class=""></i> Agencies
                    </a>
                </li>
              </ul>
      </div>
    </div>
 </div>
  



















<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand js-scroll-trigger" [routerLink]="['/portal']"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right ml-auto">          
        <li *ngIf='userLogged' class="nav-item">
            <a [routerLink]="['/portal']" class="nav-link js-scroll-trigger" ><i ></i></a>
        </li>
        <li *ngIf='!userLogged' class="nav-item">
            <a [routerLink]="['/login']" class="nav-link js-scroll-trigger">Log In</a>
        </li>
        <li *ngIf='userLogged' class="nav-item">
            <a (click)='logMeOut()' class="cursor" class="nav-link js-scroll-trigger">Log Out</a>
        </li>
        <li *ngIf='userLogged' class="nav-item">
            <a [routerLink]="['/portal']" class="nav-link js-scroll-trigger">Portal</a>
        </li>                
        <li *ngIf='!userLogged' class="nav-item">
            <a [routerLink]="['/signup']" class="nav-link js-scroll-trigger">Signup</a>
        </li>
        <li class="nav-item">
        <a [routerLink]="['/agency']" class="nav-link js-scroll-trigger">Agencies</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div  class="container -fluid">
        <a class="navbar-brand js-scroll-trigger" [routerLink]="['/portal']"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
         </button> -->
        
        <!-- <div class="collapse navbar-collapse" id="navbarResponsive"> -->
            <!-- <ul class="navbar-nav text-uppercase ml-auto">
                <li *ngIf='userLogged' class="nav-item">
                    <a [routerLink]="['/portal']" class="nav-link js-scroll-trigger" ><i ></i></a>
                </li>
                <li *ngIf='!userLogged' class="nav-item">
                    <a [routerLink]="['/login']" class="nav-link js-scroll-trigger">Log In</a>
                </li>
                <li *ngIf='userLogged' class="nav-item">
                    <a (click)='logMeOut()' class="cursor" class="nav-link js-scroll-trigger">Log Out</a>
                </li>
                <li *ngIf='userLogged' class="nav-item">
                    <a [routerLink]="['/portal']" class="nav-link js-scroll-trigger">Portal</a>
                </li>
                
                <li *ngIf='!userLogged' class="nav-item">
                    <a [routerLink]="['/signup']" class="nav-link js-scroll-trigger">Signup</a>
                </li>
                <li class="nav-item">
                <a [routerLink]="['/agency']" class="nav-link js-scroll-trigger">Agencies</a>
                </li>
                    
                
            </ul> -->
        <!-- </div>
    </div> -->
<!-- </nav>  -->


