<div id="">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div id="">
                            <h1><a href="#">Sprint</a></h1>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-8 col-sm-6 col-xs-6">
                        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                        <div class="main-menu">
                            <ul>
                                <li *ngIf='!user'>
                                    <a [routerLink]="['/login']">Log In</a>
                                </li>
                                <li >
                                    <a (click)='logMeOut()'>Log Out</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/profile']">profile</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/signup']">signup</a>
                                </li>
                                <li>
                                <a [routerLink]="['/agency']" >Agencies</a>
                                </li>
                                <li>
                                <a [routerLink]="['/agency']" >Agencies</a>
                                </li>  
                                <li>
                                <a [routerLink]="['/agency']" >Agencies</a>
                                </li>
                            </ul>
                        </div> <!-- /.main-menu -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="responsive">
                            <div class="main-menu">
                                <ul>
                                    <li *ngIf='!user'>
                                        <a [routerLink]="['/login']">Log In</a>
                                    </li>
                                    <li >
                                        <a (click)='logMeOut()'>Log Out</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/profile']">profile</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/signup']">signup</a>
                                    </li>
                                    <li>
                                    <a [routerLink]="['/agency']" >Agencies</a>
                                    </li>
                                    <li>
                                    <a [routerLink]="['/agency']" >Agencies</a>
                                    </li>  
                                    <li>
                                    <a [routerLink]="['/agency']" >Agencies</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.site-header -->
    </div>
