<div class="container">  
    <div class="row" >
        <div class="content-mini col-md-4 well-custom shadow-effect-1 shadow-effect-null fg-primary-text overflow-h">
          <div class="row">
            <div class="block block-mini">
              <i class="fa fa-building fg-acent-color icon-mini"></i>
              <div>
                <h2>Agencies</h2>
              </div>
            </div>
          </div>
          <div class="row list-agencies-content">
                <div class="col-md-12" *ngFor="let agency of agencies">
                  <h3 (click)="onSelect(agency)" style="border-bottom:solid 1px #ededed; padding-bottom:5px">
                    {{agency.nameAgency}}
                  </h3>
                </div>
          </div>
        </div>
        <div class="col-md-8 well-custom bg-gray-light shadow-effect-1 content-agency-right">
          <app-agency-details [agencyToDetails]="selectedAgency" [user]="user"></app-agency-details>
        </div>
  </div>
</div>

   
