<div (click)="openLink()" class="content-mini cursor col-md-4 well-custom shadow-effect-1 fg-primary-text overflow-h bg-gray">
  <div class="block block-mini">
    <i  class="icon-mini fa fa-credit-card-alt"></i>
    <h2 class="title-mini fg-white">
      Select account 
    </h2>
  </div>
  <span class="pull-left">
    <button *ngFor="let account of  accountsUser" id={{account.account_id}} class="btn btn-sm btn-primary">
      {{account.name}} ${{account.balances.available}}
    </button>  
  </span>
</div>







