<div class="container">
<h2>Edit photo</h2>
  <div class="row">
            <div class="col-md-8">
               
                <form method="post"  action="/agency/<%= agency._id %> ">

                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="nameAgency">Name</label>
                            <input type="text" class="form-control" id="agencyName" type="text" name="nameAgency" value="<%= agency.nameAgency%>">
                            <p class="help-block"></p>
                        </div>
                    </div>


                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="email"> email </label>
                            <input class="form-control" type="text" name="email" id="email">
                        </div>
                    </div>
                    
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="contactPhone"> phone </label>
                            <textarea rows="10" cols="100" class="form-control" id="contactPhone" name="contactPhone" placeholder="<%= agency.contactPhone%>"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Submit edition</button>
                </form>
            </div>
            <br>
           

        </div>
            
</div>