<section class="bg-light">
    <div class="container-fluid no-padding">
        <div class="container-with-user component-first-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 componentTitleHeader">
                        <h4>Adding a relative</h4>
                    </div>
                    <div class="col-md-6 componentTitleHeader">
                        <form class="form-group">
                            <div class="control-group form-group">
                                <input type="text" placeholder="Your Relative's Name" name='relativeName' [(ngModel)]="newRelativeInfo.relativeName" id="relativeName" class="form-control" autofocus required>
                            </div>
                            <div class="control-group form-group">
                                <input type="text" placeholder="First Surname" name='firstApell' [(ngModel)]="newRelativeInfo.firstApell" id="firstApell"
                                    class="form-control" required>
                            </div>
                            <div class="control-group form-group">
                                <input type="text" placeholder="Second Surname" name='secondApell' [(ngModel)]="newRelativeInfo.secondApell" id="secondApell"
                                    class="form-control" required>
                            </div>
                            <div class="control-group form-group">
                                <input type="text" placeholder="Parentesco" name='parentesco' [(ngModel)]="newRelativeInfo.parentesco" id="parentesco" class="form-control" required>
                            </div>

                            <div class="control-group form-group">
                                <input type="text" placeholder="Relative's Address" name='addressRelative' [(ngModel)]="newRelativeInfo.addressRelative"
                                    id="addressRelative" class="form-control" required>
                            </div>


                            <div class="control-group form-group">
                                <input type="text" placeholder="Carnet Id" name='cIdentidad' [(ngModel)]="newRelativeInfo.cIdentidad" id="cIdentidad" class="form-control">
                            </div>

                            <div class="control-group form-group">
                                <input type="text" placeholder="Relative's Phone" name='phoneRelative' [(ngModel)]="newRelativeInfo.phoneRelative" id="phoneRelative"
                                    class="form-control">
                            </div>


                            <div id="success"></div>
                            <!-- For success/fail messages -->
                            <div class="btn-actions2">
                                <button class="btn btn-default btn-md btn-1" (click)="goBack()">Cancel</button>
                                <button (click)="addNewRelative()" class="btn btn-primary btn-md btn-2">Done</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>