<form class="new-relative" (ngSubmit)='addRelative(relativeInfoForm)' #relativeInfoForm='ngForm' onSubmit="return false">
            <div class="control-group form-group">
                <div class="controls">
                    <label for="name-input"> Your Relative's Name </label>
                    <input type="text" class="form-control" id="relativeName" name ='relativeName' [(ngModel)]="relativeName" autofocus>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="firstApell"> First Surname </label>
                    <input class="form-control"  type="text" name='firstApell' [(ngModel)]="firstApell" id="firstApell">
                </div> 
             </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="secondApell"> Second Surname </label>
                    <input class="form-control"  type="text" name='secondApell' [(ngModel)]="secondApell" id="secondApell">
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="parentesco"> Parentesco </label>
                    <input class="form-control"  type="text" name='parentesco' [(ngModel)]="parentesco" id="parentesco">
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="addressRelative"> Relative's Address </label>
                    <input class="form-control"  type="text" name='addressRelative' [(ngModel)]="addressRelative" id="addressRelative">
                </div>
            </div> 

             <div class="control-group form-group">
                <div class="controls">
                    <label for="carnetId"> carnet Id </label>
                    <input class="form-control"  type="text" name='carnetId' [(ngModel)]="carnetId" id="carnetId">
                </div>
            </div> 

            

             <div class="control-group form-group">
                <div class="controls">
                    <label for="phoneRelative"> Relative's Phone </label>
                    <input class="form-control"  type="text" name='phoneRelative' [(ngModel)]="phoneRelative" id="phoneRelative">
                </div>
            </div>

            <div class="control-group form-group">
                <div class="controls">
                    <label for="emailRelative"> Relative's Email </label>
                    <input class="form-control" type="text" name="emailRelative" [(ngModel)]="emailRelative" id="emailRelative">

                </div>
            </div>
            <div id="success"></div> 
            <!-- For success/fail messages -->
          <button [routerLink]="['/portal/']" class="btn btn-primary">Cancel</button>
           <input type="submit" value="Done">

</form>
