<div *ngIf='agencyToDetails'>
  <h2>{{agencyToDetails.nameAgency}} details!</h2>
  
    <div *ngIf='user'>
    <form  >
            <input type="radio" name="selectedAgency" value="selected">
            <!-- <input type="submit" value="Select"> -->
  <button (click)="selectAgency(agencyToDetails._id)" class="btn btn-lg">Select</button>

    </form>      
    </div>
<!--    <label>name: </label>
    <input [(ngModel)]="agency.nameAgency" placeholder="name" />
   </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>-->
</div>
