<div class="container">  
    <div class="row" >
        <div class="well-custom content-mini profile-component"> 
<div class="col-md-12 text-center"> 
 <h2 class="title-confirmation">Your money is on its way!!!</h2>
              <p class="fg-black">you will receive a receipt and confirmation number on your email</p>
              <p class="fg-black"><b>Thank you</b> for you using KinPay to help your family</p>
              <div>
                <p class="fg-black">Want to send more?</p>
                <a [routerLink]="['/portal']" class="btn btn-success btn-lg">Start here</a> 
              </div>

        </div>
</div>
       
      

    </div>
</div>


