
    <div class="row">
        <!-- *ngIf="!relatives || relatives.length==0" -->
      <!-- <div class="card-alert" > -->
        <div class="col">
          <div class="incomplete-info" [routerLink]="['/relative/new']">
            <div class="card-body card-body-mod">
              <i class="material-icons notification_important">notification_important</i>
              <p>To start sending, add a relative</p>
              <!-- <span><img class="arrow-right" src="../../assets/icons/si-glyph-arrow-right.svg"></span> -->
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
 