<div class="content-mini col-md-4 well-custom shadow-effect-1 overflow-h bg-primary-blue " [routerLink]="['/relatives']">
  <div class="block block-mini">
    <i class="icon-mini fa fa-send-o"></i>
    <h2 class="fg-white title-mini">Start Sending </h2>
  </div>
  <div class="description-mini" >
    <span>Star sending the money to your family </span>
    <span class="hidden-md hidden-lg"> as fast as possible, only within reach of your family member will the money arrive.</span>
  </div>
  
</div>
