
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12" >
                    <div>
                    &copy; 2017 <a target="_blank" href="#" title="Description">KinPAY</a>. All Rights Reserved.
                </div>
                <br/>
                <div style="font-size:1.5em">
                    <i class="fa fa-facebook-official"></i>
                    <i class="fa fa-twitter-square"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-pinterest-square"></i>
                </div>
                </div>
                 
            </div>
        </div>
 