
            <!-- Footer -->
    
        <footer>
          <div class="container adjusterLayout">  
              <div class="row rowMargin">
                <div class="col-md-4">
                  <span class="copyright">Copyright &copy; <a target="_blank" href="#" title="Description">KinPay</a>. All Rights Reserved.</span>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                      <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">Terms of Use</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          
    </footer>
<!--         
        
        
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12" >
                    <div>
                    &copy; 2017 <a target="_blank" href="#" title="Description">KinPay</a>. All Rights Reserved.
                </div>
                <br/>
                <div style="font-size:1.5em">
                    <i class="fa fa-facebook-official"></i>
                    <i class="fa fa-twitter-square"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-pinterest-square"></i>
                </div>
                </div>
                 
            </div>
        </div> -->
 