@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,300,700);
body{
    font-family: "PT Sans";
    background:#eaeaea;
    font-size: 1.7em;
}


.form-control,.btn-xs,.btn-sm,.btn-md,.btn-lg{
      border-radius: 0px;
}

.divider {
    border-left: 1px solid #eaeaea;
    position: absolute;
    height: 20em;
    left: 29em;
}

.shadow-effect-null
{
     box-shadow:none !important;
}

.shadow-effect-1
{
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.shadow-effect-2
{
  -webkit-box-shadow: 0 10px 10px -6px #777;
  -moz-box-shadow: 0 10px 10px -6px #777;
   box-shadow: 0 10px 10px -6px #777;
}
.shadow-effect-2:hover
{
  -webkit-box-shadow: 0 8px 8px -6px #777;
  -moz-box-shadow: 0 8px 8px -6px #777;
   box-shadow: 0 8px 8px -6px #777;
}



.margin-bottom-30{
    padding-bottom: 30px;
}


.footer_block {
    color: #767676;
    
    font-family: "PT Sans","Segoe UI Webfont","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

.money-input{
    padding-top: 8px;
    background: rgb(37, 38, 49);
    color: #999999;
    font-weight: 800;
    font-size: 25pt;
    border: none;
    width: 51%;
    margin-left: 0.5em;
    padding: 0 0.5em;
}

#footer{
    padding-top: 35px;
    padding-bottom: 35px;
    color: #827474;
    background: url("../images/texture/t6.png") repeat #212121;;
}

.payment-component{
    background: url("../images/texture/t6.png") repeat #212121;
    text-align: center !important;
}

.agency-right-form{
    margin-top: 30px;
}

.section-login{
  height: 100vh;
  background-color: rgb(0, 162, 233); 
  visibility: visible;
}
.back-single-layout{
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

h2.title-single-layout{
    color: #fff;
    position: absolute;
    top: 4em;
    font-size: 41px;
    left: 3%;
    font-family: "Segoe UI"
}

.onselectAgency{
    border-bottom:solid 1px #ededed; padding-bottom:5px
}

.icon-mini-o{
        font-size: 3em;
     }
.well-custom 
{
    border-radius:0;
    color:#fff;
    background: #fff;
    min-height: 11em;
}

.bg-dark-primary-blue
{
    background:#1875d2 !important
}
.bg-primary-blue
{
    background: #2095f2 !important
}
.bg-light-primary
{
    background: #baddf9 !important
}
.bg-gray
{
    background:#717171 !important
}

.bg-gray-light
{
    background: #969696
}

.bg-divide-color
{
    background:#eaeaea !important
}

.fg-light-primary
{
    color: #baddf9 !important
}

.bg-blue-dark{
    background:#11131a !important;
}

.bg-dark{
    background: #202020;
}

.title-confirmation{
    padding-top: 3em;
}

.fg-white{
    color:#fff;
}

.fg-black{
    color: #000;
}

.cancel-payment{
        color: #818794;
    background: #1c1f27;
    width: 100%;
}

.acept-payment{
        background: #656565;
    width: 100%;
    color: #fff;
}
.acept-payment h1{
    color #fff;
}

.fg-primary-text
{
    color:#202020 !important
}

.fg-secondary-text
{
    color:#717171 !important
}

.fg-acent-color
{
    color:#02a8f4 !important
}

.block{display: block!important}

.overflow-h{
    overflow: hidden !important;
}

.border-t{
    border-top:solid 1px #ededed
}

.cursor{
    cursor: pointer;
}

.content-page-layout
{
    margin-top: 4.9em
}

.portal-page
{
    margin-top: 7em;
}

.relative-new-component
{
    padding: 2em;
}


@media screen and (max-width: 750px){

.add-relative-sm{
    float:right;
}

    .agency-right-form{
    margin-top: none;
}

.btn-right-content-agency
{
    width: 100%;
}

.content-right-data.agency
{
    float: left
}


.title-mini .name{
    display: block
}

.icon-mini-o
    {
        float: left;
        margin: 0.2em;    
    }

.relative-new-component
{
    min-height: 2em;
}

.profile-data{
    float: left;
}

.portal-page
{
    margin-top: 0;
}
.icon-lg {
    font-size: 5em;
    height: 2em;
    width: 2em;
    padding-top: 0.3em;
    line-height: 108px;
    color: #fff;
    margin: 10px;
    background-color: rgb(0, 162, 233);
    text-align: center;
    display: inline-block !important;
    border-radius: 100%;
box-shadow: 0px 5.1px 18px #8a8a8a;
}

     .content-mini
     {
         text-align: left
     }
        .content-mini.profile-component
        {
            min-height: 26em
        }

        .btn-actions
        {
            position: absolute;
            bottom: 1em;
            width: 100%
        }

        .btn-actions2
        {
            padding-bottom: 3em;
            width: 100%
        }

        .content-mini .btn-1{
            float:left;
        }
        .content-mini .btn-2{
            float:right
        }

     .icon-mini{
        font-size: 3em;
        padding-right: 0.5em;
        float: left;
        margin-left: 0.5em;
        width: 1.5em;
        height: 1.5em;
     }


     .icon-mini.profile-component{
         margin-top:1.2em
     }
    .description-mini{
        /* display: none; */
    }
       .description-mini.profile-component{
           padding-top: 1em;
           border-top:solid 1px #ededed; 
           margin-top:1em;
       }
   
    .list-agencies-content
    {
        height: 15em;
        overflow-y: auto
    }
    .content-agency-right{
        padding: 1em 0
    }
}

@media screen and (max-width: 990px) and (min-width: 751px) {

body{
    font-size: 2em;
}

.sm-relative-title
{
    font-size: 6em;
}
.add-relative-sm
{
    float:right;
}

.content-mini
     {
         text-align: left
     }
        .content-mini.profile-component
        {
            min-height: 26em
        }

        .btn-actions
        {
            position: absolute;
            bottom: 1em;
            width: 100%
        }

.btn-actions2
        {
            padding-bottom: 3em;
            width: 100%
        }

        .content-mini .btn-1{
            float:left;
                font-size: 1em;
        }
        .content-mini .btn-2{
            float:right;
                font-size: 1em;
        }
    
    .icon-lg {
    font-size: 8em;
    height: 2em;
    width: 2em;
    padding-top: 0.5em;
    line-height: 108px;
    color: #fff;
    margin: 10px;
    background-color: rgb(0, 162, 233);
    text-align: center;
    display: inline-block !important;
    border-radius: 100%;
box-shadow: 0px 5.1px 18px #8a8a8a;
}


     .content-mini
     {
         text-align: left
     }
     .icon-mini{
        font-size: 4.5em;
        margin-top: 0x;
        margin-left: 0.5em;
        height: 2em;
        width: 1.5em;
        padding-top: 0.3em;
        float: left;
     }
    .panel-buttom{
        
        overflow: hidden;
        position: absolute;
        bottom: 1em;
        right: 1em;
    }
    .panel-buttom .btn{
        float: right;
    }

    .icon-mini-o
    {
        float: left;
        margin: 0.2em;    
    }

    .content-right-data{
        float:left
    }
    .form-right-content
    {
        float:right
    }
    
    .list-agencies-content
    {
        height: 14em;
        overflow-y: auto
    }
}

@media screen and (max-width: 1170px) and (min-width: 991px) {
.title-mini .name{
    display: block
}

.content-mini.profile-component
        {
            min-height: 34em
        }

        .btn-actions
        {
            position: absolute;
            bottom: 1em;
            width: 100%
        }
        .btn-actions2
        {
            padding-bottom: 3em;
            width: 100%
        }

        .content-mini .btn-1{
            float:left;
                font-size: 0.8em;
        }
        .content-mini .btn-2{
            float:right;
                font-size: 0.8em;
        }

     .content-mini
     {
         text-align: center
     }
     .icon-mini{
        font-size: 7em;
        height: 1.5em;
        width: 2em;
        padding-top: 0.3em;
     }
    
    .description-mini{
        text-align: left;
        border-top:solid 1px #ededed
    }   
    .well-custom{
        min-height: 22em;
    }
    .shadow-effect-1{
        box-shadow: 6px -2.5px 4px -3px rgba(0, 0, 0, 0.45) inset, 0 1px 2px 0 #fbf8f8;
    }
    .panel-buttom{
        
        overflow: hidden;
        position: absolute;
        bottom: 1em;
        right: 1em;
    }
    .panel-buttom .btn{
        float: right;
    }

     .form-right-content{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .icon-lg {
    font-size: 8em;
    height: 2em;
    width: 2em;
    padding-top: 0.5em;
    line-height: 108px;
    color: #fff;
    margin: 10px;
    background-color: rgb(0, 162, 233);
    text-align: center;
    display: inline-block !important;
    border-radius: 100%;
box-shadow: 0px 5.1px 18px #8a8a8a;
}

.relative-list-content
    {
        height: 80vh
    }
    .padding-2{
    padding-top: 2em;
}

}

@media screen and (min-width: 1171px) {
.padding-2{
    padding-top: 2em;
}
body{
    font-size: 2em;
}
.content-mini.profile-component
        {
            min-height: 34em
        }
        .btn-actions
        {
            position: absolute;
            bottom: 1em;
            width: 100%
        }
.content-mini .btn-1{
            float:left;
                font-size: 0.9em;
        }
        .content-mini .btn-2{
            float:right;
                font-size: 0.9em;
        }


    .title-mini .name{
    display: block
}
.icon-lg {
    font-size: 8em;
    height: 2em;
    width: 2em;
    padding-top: 0.5em;
    line-height: 108px;
    color: #fff;
    margin: 10px;
    background-color: rgb(0, 162, 233);
    text-align: center;
    display: inline-block !important;
    border-radius: 100%;
box-shadow: 0px 5.1px 18px #8a8a8a;
}

    .content-mini
     {
         text-align: center
     }
     .icon-mini{
        font-size: 7em;
        height: 1.5em;
        width: 2em;
        padding-top: 0.3em;
     }
    
    .description-mini{
        text-align: left;
        border-top:solid 1px #ededed;
        padding-top: 1.2em;
    }   
    .well-custom{
        min-height: 25em;
        /* margin: 0 0.5em 0 0.5em; */
       
    }
    .shadow-effect-1{
        box-shadow: 6px -2.5px 4px -3px rgba(0, 0, 0, 0.45) inset, 0 1px 2px 0 #fbf8f8;
    }

    .panel-buttom{
        
        overflow: hidden;
        position: absolute;
        bottom: 1em;
       
    }
    .panel-buttom .btn{
        float: right;
    }

    .form-right-content{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .relative-list-content
    {
        height: 80vh
    }
}

.btn-default{
        background-color: #e2dbdb;
}

.btn-circle {
  width: 1em;
  height: 1empx;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.currency{
    font-size: 1.5em
}