body{
    font-family: "Segoe UI";
    background:#eaeaea;
}


.form-control,.btn-xs,.btn-sm,.btn-md,.btn-lg{
      border-radius: 0px;
}

.divider {
    border-left: 1px solid #eaeaea;
    position: absolute;
    height: 20em;
    left: 29em;
}

.shadow-effect-null
{
     box-shadow:none !important;
}

.shadow-effect-1
{
  padding: 2em !important;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.shadow-effect-2
{
  -webkit-box-shadow: 0 10px 10px -6px #777;
  -moz-box-shadow: 0 10px 10px -6px #777;
   box-shadow: 0 10px 10px -6px #777;
}
.shadow-effect-2:hover
{
  -webkit-box-shadow: 0 8px 8px -6px #777;
  -moz-box-shadow: 0 8px 8px -6px #777;
   box-shadow: 0 8px 8px -6px #777;
}

.margin-bottom-30{
    padding-bottom: 30px;
}


.footer_block {
    color: #767676;
    font-family: "Segoe UI Webfont","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

.section-login{
  height: 100vh;
  background-color: rgb(0, 162, 233); 
  visibility: visible;
}
.back-single-layout{
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100vh; 
    height: 100vh;
}

h2.title-single-layout{
    color: #fff;
    position: absolute;
    top: 4em;
    font-size: 41px;
    left: 3%;
    font-family: "Segoe UI"
}

.well-custom 
{
    border-radius:0;
    color:#fff;
    background: #fff;
    min-height: 11em;
}

.bg-dark-primary-blue
{
    background:#1875d2 !important
}
.bg-primary-blue
{
    background: #2095f2 !important
}
.bg-light-primary
{
    background: #baddf9 !important
}
.bg-gray
{
    background:#717171 !important
}

.bg-divide-color
{
    background:#eaeaea !important
}

.fg-light-primary
{
    color: #baddf9 !important
}

.bg-dark{
    background: #202020;
}

.fg-white{
    color:#fff;
}

.fg-black{
    color: #000;
}

.fg-primary-text
{
    color:#202020 !important
}

.fg-secondary-text
{
    color:#717171 !important
}

.fg-acent-color
{
    color:#02a8f4 !important
}

.block{display: block!important}

.overflow-h{
    overflow: hidden !important;
}

.border-t{
    border-top:solid 1px #ededed
}

#footer{
    margin-top:10px;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #827474;
    background: #212121;
    
}

.cursor{
    cursor: pointer;
}


@media screen and (max-width: 750px){
     .content-mini
     {
         text-align: left
     }
     .icon-mini{
        font-size: 3em;
        padding-right: 0.5em;
        float: left;
     }
    .description-mini{
        display: none;
    }   
   
}

@media screen and (max-width: 990px) and (min-width: 751px) {
     .content-mini
     {
         text-align: left
     }
     .icon-mini{
        font-size: 4em;
        height: 2em;
        width: 2em;
        padding-top: 0.3em;
        float: left;
     }
}

@media screen and (max-width: 1170px) and (min-width: 991px) {
     .content-mini
     {
         text-align: center
     }
     .icon-mini{
        font-size: 7em;
        height: 1.5em;
        width: 2em;
        padding-top: 0.3em;
     }
    
    .description-mini{
        text-align: left;
        border-top:solid 1px #ededed
    }   
    .well-custom{
        min-height: 22em;
    }
    .shadow-effect-1{
        padding: 2em !important;
        box-shadow: 6px -2.5px 4px -3px rgba(0, 0, 0, 0.45) inset, 0 1px 2px 0 #fbf8f8;
    }
}

@media screen and (min-width: 1171px) {
    .content-mini
     {
         text-align: center
     }
     .icon-mini{
        font-size: 7em;
        height: 1.5em;
        width: 2em;
        padding-top: 0.3em;
     }
    
    .description-mini{
        text-align: left;
        border-top:solid 1px #ededed;
        padding-top: 1.2em;
    }   
    .well-custom{
        min-height: 25em;
        margin: 0 0.5em 0 0.5em;
        max-width: 26em;
    }
    .shadow-effect-1{
        padding: 2em !important;
        box-shadow: none;
    }
}
