html {
 height: 100vh;
}

body {
min-height: 100vh ; 
    font-family: "Roboto";
    /* background-color: red */
}
section {
    margin: 0 -15px
}
.component-wrapper {
    margin-top: 70px;
    min-height: 84vh;
}
.adjuster-layout {
    max-width: 100%;
}
.component-first-row {
    margin-top: 70px;
}
.card-column-container {
    margin-bottom: 20px;
}
.shadow { -webkit-box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.44);
    -moz-box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.44);
    box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.44);
}
.card-header-container {
    padding-bottom: 10px;
    border-bottom: solid 1px #b1b1b1;
    /* height: 110px; */
    padding-left: 0.3rem;
    /* padding-right: 0.3rem; */
}
.card-header-container-wrapper {
    display: flex;
    margin-left: 0;
    margin-right: 0;
   justify-content: space-between;
   margin-bottom: 2rem;
   align-items: center;
}
.c-card-title-relative>h5 {
    margin: 0 0.625rem
}
.c-card-title-relative>small {
    margin: 0 -0.625rem;
    font-size: 70%;
}
.c-card-title-relative {
    display: flex;
    align-items: center
}

.c-subheader {
    justify-content:flex-start
}
.c-card-footer {
    background-color: #00D552;
}
.card-footer {
    align-items:center;
    display: flex;
    justify-content: space-between;
    /* padding-right: 0.3rem */
}
.card-footer> small{
    color: white 
}
.card-footer> .arrow_forward_ios{
    color: white !important
}
.material-icons {
    margin: 0 0.625rem ;
    color: #00A4FC ;
}
.lastSent{
    font-size: 1rem !important
}
.edit-profile-button{
    margin-left: 2rem;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.componentTitleHeader {
    margin-top: 20px;
    /* margin-left: 20px; */
    display: inline-block;
    /* float: left; */

}
.card-body-mod>.notification_important{
    color:red !important
}
.c-card-alert {
    background-color: #f9f9f9;
    padding: 1.5rem 0;
}
.card-alert {
    width: 100%;
}

.card-alert .card {
    border-left: red solid 5px;
    /* border-bottom: red solid 1px; */
    -webkit-box-shadow: 1px 10px 10px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 1px 10px 10px 1px rgba(0,0,0,0.39);
    box-shadow: 1px 10px 10px 1px rgba(0,0,0,0.39); 
}
.incomplete-info {
    font-size: 0.7rem;
    height: 60px;
    width: 100%;
    margin-top:0.7rem;
}
.material-icons.arrow_back_ios {
    color: #0376f1;
}
div.link-hover:hover *{ 
    background-color: #00A4FC;
    color: white !important 
}
.link-hover:hover{ 
    background-color: #00A4FC;
    color: white !important 
}
.card-body-mod {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    display: flex !important;
}
.card-body-mod>p{
    line-height: 0.9rem;

}
.card-body-mod > p,i {
    line-height: 0.9rem;
    /* float: left; */
    
}



@media (min-width: 768px) {
    .card-body-mod {
        font-size: 1rem
    }
    .componentTitleHeader {
        margin-left: 3rem;
    }
    .componentTitleHeader {
        float: left;
    }
   
    .no-padding {
        padding: 0;
    }
    .container-with-user {
        margin-left: 16.66666667%;
        margin-right: 0;
    }
    .edit-profile-button{
        margin-top: 10px;
        margin-right: 50px;
        margin-left: 2rem;
    }
    .arrow_back_ios {
        visibility: hidden;
    }
    

}